package partials

templ Filters() {
    <div class="flex flex-col gap-2">
        <div class="grid gap-2">
            @GrayscaleFilterButton()
            @BinaryFilterButton()
        </div>
    </div>
	<script>

    </script>
}
