package partials

templ Footer() {
	<footer class="border-t">
		<div class="container flex items-center justify-between h-[60px] px-4 sm:px-6">
            @Button("Cancel","")
            @Button("Save Changes", "")
		</div>
	</footer>
}
